.itemContainer{
  width: 600px;
  overflow-wrap: break-word;
}

.MuiListItemText-primary{
  padding-left: 10px;
  padding-right: 10px;
  max-width: 450px;
  overflow: hidden;
  text-align: center;
}

.done{
  background-color: gray;
  text-decoration: line-through;
  color: white;
}